<!DOCTYPE html>
<html lang="en">
<head>
    <title>Informer</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>    
    <div id="app">
        <div class="row">
            <!--Left pannel (avatar, profile name..)-->
            <div id="user-pannel" class="col-5">
                <img id="avatar">
                <div id="username">{{username}}</div>
                <div id="bio">{{bio}}</div>
            </div>
            <!--Middle section(info)-->
            <div class="col-6">
                <!--Search box-->
              <div class="row">
                  <div class="col-8">
                    <form id="submit-form" @submit.prevent="getInfo">
                      <input 
                      type="text" 
                      placeholder="Enter username.." 
                      v-model="username" 
                      name="username">
                    </form>
                  </div>
              </div>
              <div class="col-12">
                <div class="top__navigation">
                    <a v-on:click="getRepos" class="active">Repos</a>
                    <a v-on:click="getFollowers" >Followers</a>
                    <a v-on:click="getFollowing" >Following</a>
                    <a v-on:click="getCommits" >Commits</a>
                </div> 
              </div>
              <li id="infos" v-for="(data,index) in info":key='index'>
                <div v-if="mode=='followers'">
                  {{data.login}}
                </div>
                <div v-else-if="mode=='following'">
                  {{data.login}}
                </div>
                <div v-else-if="mode=='commits'">
                  TEST
                </div>
                <div v-else="mode=='repos'">
                  {{ data.name }}
                </div>
              </li>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>