body{
    background-color: #e7e7e7;
}

#app{
    margin-left: 5%;
}
#infos{
    list-style: none;
}
#user-pannel{
    margin-right: 20px;
}

.plist{
    background-color: burlywood;
    border-radius: 10px;
    padding: 3px 3px;
}
.plist a{
    text-decoration: none;
    background-color: bisque;
    color: #4CAF50;;
    font-weight: bolder;
}

#submit-form-before{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
#submit-form-before input{
    padding: 25px 50px;
    font-size: 32px;
    text-align: center;
    color: black;
    border-radius: 30px;
    border:2px solid lightskyblue;
}

/*=====Commits=====*/
.commit{
    background-color: burlywood;
    border-radius: 10px;
    padding: 10px 20px;
}

.commit a{
    text-decoration: none;
    background-color: bisque;
    color: #4CAF50;;
    font-weight: bolder;
}
#desc a{
    font-weight: bold;
    color: #4CAF50;
    background-color: bisque;
}


/*========Grid========*/
.grid{
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr,1fr;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 1px;
    margin-bottom: 1px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*========Navbar========*/
.top__navigation {
    display:inline-block;
    margin-top: 10px;
    background-color:burlywood;
    box-shadow:0 1px 1px #ccc;
    border-radius:2px;
}
.top__navigation a {
    display:inline-block;
    padding: 15px 10px;
    color:rgb(26, 25, 25) !important;
    font-weight:bold;
    font-size:16px;
    text-decoration:none !important;
    line-height:1;
    text-transform: uppercase;
    background-color:transparent;
    -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
    transition:background-color 0.25s;
}
.top__navigation a:hover {
    background-color: bisque;
    color: black;
}
nav.repos .repos,
nav.followers .followers,
nav.following .following,
nav.commits .commits{
    background-color: #4CAF50;
    color: white !important;
}